<form action="" method='post'>
    Email <input type="text" name="name" id="user_name">
    Name <input type="text" name="email" id="user_email">
    Password <input type="text" name="password" id="user_password">
    Password Confirmation <input type="text" name="password_confirm" id="user_password_confirmrs">
    

</form>